._9-_._3j7l {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/NicePilaf.png") !important;")
  background-size: 48px 48px;
}

._9-_._3j7m {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/Diode.png") !important;")
  background-size: 48px 48px;
}

._9-_._3j7o {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/TFLUK.png") !important;")
  background-size: 48px 48px;
}

._9-_._3j7n {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/PlusOnePepe.png") !important;")
  background-size: 48px 48px;
}

._9-_._3j7r {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/GirlsLikeThis.png") !important;")
  background-size: 48px 48px;
}

._9-_._3j7q {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/TrashDumpyard.png") !important;")
  background-size: 48px 48px;
}

._2p7a._3j7l, ._9--._3j7l {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-rxn-final.png") !important;")
  background-size: 41px 395px;
  background-repeat: no-repeat;
  background-position: 0 -243px;
}

._2p7a._3j7m, ._9--._3j7m {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-rxn-final.png") !important;")
  background-size: 41px 395px;
  background-repeat: no-repeat;
  background-position: -17px -243px;
}

._2p7a._3j7o, ._9--._3j7o {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-rxn-final.png") !important;")
  background-size: 41px 395px;
  background-repeat: no-repeat;
  background-position: -17px -226px;
}

._2p7a._3j7n, ._9--._3j7n {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-rxn-final.png") !important;")
  background-size: 41px 395 px;
  background-repeat: no-repeat;
  background-position: 0 -277px;
}

._2p7a._3j7r, ._9--._3j7r {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-rxn-final.png") !important;")
  background-size: 41px 395px;
  background-repeat: no-repeat;
  background-position: 0 -260px;
}

._2p7a._3j7q, ._9--._3j7q {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-rxn-final.png") !important;")
  background-size: 41px 395px;
  background-repeat: no-repeat;
  background-position: 0 -209px;
}

._4x9_._48-k.UFILinkBright::before, ._sa_ ._48-k.UFILinkBright::before {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-likes-pilaf.png") !important;")
  background-size: 64px 266px;
  background-repeat: no-repeat;
  background-position: 0 -213px;
}

._4x9_._48-k::before, ._sa_ ._48-k::before {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-likes-pilaf.png") !important;")
  background-size: 64px 266px;
  background-repeat: no-repeat;
  background-position: -30px -197px;
}

._9-y._3j7m {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-rxn-final.png") !important;")
  background-size: 41px 395px;
  background-repeat: no-repeat;
  background-position: -14px -331px;
}

._9-y._3j7n {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-rxn-final.png") !important;")
  background-size: 41px 395px;
  background-repeat: no-repeat;
  background-position: 0 -359px;
}

._9-y._3j7o {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-rxn-final.png") !important;")
  background-size: 41px 395px;
  background-repeat: no-repeat;
  background-position: -14px -317px;
}

._9-y._3j7r {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-rxn-final.png") !important;")
  background-size: 41px 395px;
  background-repeat: no-repeat;
  background-position: 0 -345px;
}

._9-y._3j7q {
  background-image:url("chrome-extension://__MSG_@@extension_id__/img/cdt-rxn-final.png") !important;")
  background-size: 41px 395px;
  background-repeat: no-repeat;
  background-position: 0 -303px;
}
